<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Tinder clone</h5>

  <% if account_signed_in? %>
    <nav class="my-2 my-md-0 mr-md-3">
      <%= link_to "Browse", "#", class: "text-dark mr-2" %>
      <%= link_to "My Matches", "#", class: "text-dark mr-2" %>
      <%= link_to "settings", "#", class: "text-dark" %>
    </nav>

     <%= link_to "Log out", destroy_account_session_path, method: :delete, class: "btn btn-secondary mr-2" %>

  <% else %>
    <nav class="my-2 my-md-0 mr-md-3">
      <a href="#" class="p-2 text-dark">Feature</a>
      <a href="#" class="p-2 text-dark">Pricing</a>
      <a href="#" class="p-2 text-dark">Support</a>
    </nav>

    <%= link_to "Sign in", new_account_session_path, class: "btn btn-secondary mr-2" %>
    <%= link_to "Sign up", new_account_registration_path, class: "btn btn-outline-primary" %>
  <% end %>
</div>